body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

body.active {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  margin-top: 0;
}

.ec-form-wrapper {
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.ec-heading--2 {
  color: #444;
  font-weight: normal;
}

.ec-list {
  overflow: hidden;
}
