@import "../node_modules/basscss/css/basscss.css";

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

body.active {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}
